.counterButton{
    margin-top: 10px;
}

.spanCount{
    margin: 5px;
}

.buttonCountRadius{
    border-radius: 60%;
}

.countCSS{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}